# Linguist overrides to keep language stats focused on Dart
*.dart linguist-language=Dart
*.g.dart linguist-generated
*.freezed.dart linguist-generated
*.gr.dart linguist-generated
*.mocks.dart linguist-generated
*.md linguist-documentation

android/** linguist-vendored
ios/** linguist-vendored
linux/** linguist-vendored
macos/** linguist-vendored
windows/** linguist-vendored
web/** linguist-vendored
build/** linguist-vendored
assets/** linguist-vendored
docs/** linguist-vendored
